**/.bowerrc
**/.editorconfig
**/.gitattributes
**/.jshintrc
**/.travis.yml
**/.mvn
**/.gitignore

**/.jhipster
**/src/main/docker
**/src/main/resources
**/src/main/webapp
**/src/test
**/pom.xml
**/bower.json
**/Gruntfile.js
**/mvnw
**/mvnw.cmd
**/package.json
**/README.md
**/sonar.yml
**/docker-compose-prod.yml
